$white: rgb(255,255,255);        // Background, navigation font
$black: rgb(0,0,0);              // Headers font
$grey: rgb(153,153,153);         // Bullets, form
$gray: $grey;
$brown: rgb(64,54,58);           // Navigation, body font
$greenDark: rgb(163,217,172);    // Expertise
$greenMedium: rgb(196,237,183);  // Expertise canvas
$greenLight: rgb(211,255,196);   // Portfolio
$pink: rgb(241,75,81);           // Links, testimonials